

<!-- Navigation -->
<nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">Conecte-se a um advogado</a>
    <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#customer">Clientes</a>
        </li>
        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#lawyer">Advogados</a>
        </li>
        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#match">Conecte-se</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Header -->
<header class="masthead bg-primary text-white text-center">
  <div class="container">
    <h1 class="text-uppercase mb-0">Match</h1>
    <h1 class="text-uppercase mb-0">cliente e advogado</h1>
    <h2 class="font-weight-light mb-0">Conecte-se com um advogado e tenha a solução para o seu problema</h2>
  </div>
</header>

<!-- customer Section -->
<section class="customer" id="customer">
  <div class="container">
    <h2 class="text-center text-uppercase text-secondary mb-0">Clientes</h2>
    <div class="row">
      <section = "container">
        <table class = "table-custom">
          <tbody>
            <% @all_customers.each do |customer|%>
                <% if customer == @all_customers.first %>
                  <td> Nome </td>
                  <td> UF </td>
                  <td> Adv </td>
                <% end %>
                <tr>
                <td> <%= customer.name%></td>
                <td><%= customer.state.name%></td>
                <% if customer.lawyer != nil %>
                  <td><%= customer.lawyer.name%></td>
                <%end%>
              </tr>
            <% end %>
          </tbody>
        </table>
      </section>
    </div>
    <%= link_to 'Novo cliente', new_customer_path%> 
  </div>
</section>

<!-- Lawyer Section -->
<section class="bg-primary text-white mb-0" id="lawyer">
  <div class="container">
    <h2 class="text-center text-uppercase text-white">Advogados</h2>
    <div class="row">
      <section = "container">
        <table class = "table-custom-white">
          <tbody>
            <% @all_lawyers.each do |lawyer|%>
              <% if lawyer == @all_lawyers.first %>
                  <td> Nome </td>
                  <td> UF </td>
              <% end %>
              <tr>
                <td> <%= lawyer.name%></td>
                <td><%= lawyer.state.name%></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </section>
    </div>
    <%= link_to 'Novo Advogado', new_lawyer_path%> 
  </div>
</section>

<!-- Connect Section -->
<section id="match">
  <div class="text-center mt-4">
    <h2 class="text-center text-uppercase text-secondary mb-0">Conecte-se</h2>
    	<section class = "content">
        <%= form_tag({ controller: 'home'}, method: 'get') do %>
          <%= select_tag :customer_id, options_from_collection_for_select(@customers_without_lawyer, :id , :name), class: "cs-skin-border" %>
          <%= submit_tag "Match", name: nil, class: 'link_to' %>
        <% end %> 
			</section>   
  </div>
</section>




<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-to-top d-lg-none position-fixed ">
  <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
    <i class="fa fa-chevron-up"></i>
  </a>
</div>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

<!-- Contact Form JavaScript -->
<script src="js/jqBootstrapValidation.js"></script>
<script src="js/contact_me.js"></script>

<!-- Custom scripts for this template -->
<script src="js/freelancer.min.js"></script>
